# Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Environments
venv/
.env

# Django / SQLite
backend/db.sqlite3
backend/logs/

# IDE / Editor
.vscode/
.idea/

# Node / Frontend
node_modules/
.DS_Store

# Misc
*.log
*.sqlite3
